@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}
/* Simple transition for the mobile menu */
.nav-links {
  transition: max-height 0.3s ease-out;
}
#editor {
  outline: none;
  min-height: 400px;
}
/* Style for the active button in the toolbar */
.toolbar-button.active {
  background-color: #e0e7ff; /* indigo-100 */
  color: #4f46e5; /* indigo-700 */
}